@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #f3ede8;
  --background: #2c2c2c;
  --primary: #5465c5;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: #f3ede8;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary);
}

.scaling:hover {
  #scale {
    transform: scale(1.1);
  }
  #underline {
    text-decoration: underline;
    color: var(--primary);
  }

  #invisible {
    visibility: visible;
  }
}

.scaling {
  #invisible {
    visibility: hidden;
  }
}

.mark {
  #invisible-mark {
    visibility: hidden;
  }
}

.mark:hover {
  #invisible-mark {
    visibility: visible;
  }
}

.hiring-container {
  position: sticky;
  top: 1rem;
  max-height: 100vh;
  overflow-y: auto;
}
