@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #f3ede8;
  --background: #2c2c2c;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: #f3ede8;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
  min-height: 100vh;
}

.scaling:hover {
  #scale {
    transform: scale(1.1);
  }
  #underline {
    text-decoration: underline;
  }

  #invisible {
    visibility: visible;
  }
}

.scaling {
  #invisible {
    visibility: hidden;
  }
}

.mark {
  #invisible-mark {
    visibility: hidden;
  }
}

.mark:hover {
  #invisible-mark {
    visibility: visible;
  }
}
